# Intellij
.idea/
*.iml
*.iws

#composer
vendor/

# Sqlite
*.sqlite

# laravel local config
.env

# Storages
storage/debugbar/**
storage/framework/config.php
storage/framework/routes.php
storage/framework/compiled.php
storage/framework/services.json
storage/framework/events.scanned.php
storage/framework/routes.scanned.php
storage/framework/down
storage/framework/sessions

# Caches
bootstrap/cache/**

# Logs
storage/logs/**